@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');


.statusChecked{
  display: flex;
  margin-left: 10px;
}
.checked{
  border-bottom: 2px solid #02130E;
  border-radius: 6px 6px 2px 2px;
  cursor: pointer;
}
.notChecked{
  border-bottom: 2px solid #F8F8F8;
  border-radius: 6px 6px 2px 2px;
  cursor: pointer;
}
.checkedName{
  margin: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.secure{
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
